* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "zocool";
  src: url(./fonts/ZCOOLQingKeHuangYou-Regular.ttf);
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  max-width: 100%;
  font-family: "zocool", sans-serif;
  background: radial-gradient(#2d1b3b, #0d0d0d);
  color: #a75cf2;
}

i,
svg {
  pointer-events: none;
}

/* wave */
main {
  min-height: 90vh;
}

.wave-1,
.wave-2 {
  opacity: 0;
  padding: 0;
  margin: 0;
  width: 100vh;
  max-height: 20vw;
  transform-origin: left top;
  position: fixed;
  left: 0;
  transform: rotateZ(90deg) translateY(-52%);
  transition: all 0.4s ease-in-out;
}

.wave-1.active,
.wave-2.active {
  opacity: 100%;
  animation: waves 5s linear infinite;
  transition: all 0.4s ease-in-out;
}

.wave-2 {
  left: 100%;
}

.botm {
  transform: rotateZ(90deg) translateY(-52%) translateX(-100%);
}

.botm.active {
  opacity: 1;
  animation: waves-botm 5s linear infinite;
  transition: all 0.4s ease-in-out;
}

@keyframes waves {
  from {
    transform: rotateZ(90deg) translateY(-52%) translateX(0);
  }
  to {
    transform: rotateZ(90deg) translateY(-52%) translateX(100%);
  }
}

@keyframes waves-botm {
  from {
    transform: rotateZ(90deg) translateY(-52%) translateX(-100%);
  }
  to {
    transform: rotateZ(90deg) translateY(-52%) translateX(0);
  }
}

.sequencer {
  width: 60vw;
  margin: auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  height: 5rem;
  width: 5rem;
  margin: 1rem 1rem;
  cursor: pointer;
  border: solid 0.2rem white;
  border-radius: 3px;
}

.kick-pad {
  background: #ee9ea5;
}

.snare-pad {
  background: #ffdbb0;
}

.hihat-pad {
  background: #f5ebb5;
}

.kick-pad.active {
  background: #f25260;
}

.snare-pad.active {
  background: #f2ac57;
}

.hihat-pad.active {
  background: #f2de6d;
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 2rem 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls h1 {
  text-align: center;
  margin: 1rem;
}

.mute {
  padding: 1rem;
  border: none;
  background: rgb(84, 238, 161);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 20%;
  transition: all 0.5s ease;
}

.mute.active {
  background: #f25260;
}

.pad {
  transform: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(84, 238, 161);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 5px;
}

.play.active {
  background: #f25260;
}

select {
  padding: 1rem;
  font-size: 1rem;
  margin: 0 0 0 1rem;
  background: white;
  color: #a75cf2;
  border-radius: 6px;
}

.tempo {
  margin: 3rem;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  width: 80%;
  margin: 1rem 0;
  position: relative;
  background: #ffffff;
  cursor: pointer;
  border-radius: 1rem;
}

.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

.tempo span {
  color: white;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

/* Footer */
footer {
  background: rgb(0, 0, 0);
  display: flex;
  padding: 1rem 5%;
  align-items: center;
  flex-wrap: wrap;
}

footer ul {
  list-style: none;
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

footer h4 {
  font-size: 2rem;
  flex: 3 1 40rem;
  font-size: calc(1.4rem+1vw);
  font-weight: normal;
}

footer span {
  color: white;
}

footer img {
  max-width: 3rem;
  margin-left: 4rem;
  transition: all 0.3s ease-in-out;
}

footer img:hover {
  transform: scale(120%);
}

@media screen and (max-width: 1760px) {
  main {
    min-height: 95vh;
  }

  .sequencer {
    width: 80vw;
  }

  .kick-track,
  .snare-track,
  .hihat-track {
    flex-direction: column;
  }
  .controls {
    flex-wrap: wrap;
    justify-content: center;
  }
  select {
    margin: 1rem;
  }
  .mute {
    margin: 1rem;
  }
  .kick,
  .snare,
  .hihat {
    flex-wrap: wrap;
    justify-content: center;
  }
  .tempo {
    width: 90%;
  }
  footer {
    align-items: center;
  }
}

@media screen and (max-width: 910px) {
  footer ul {
    order: 1;
  }
  footer h4 {
    text-align: center;
    order: 2;
    padding: 1rem;
  }
  footer img {
    margin: 1rem;
  }
}
